.ContentsMDiv {
    margin-top: 221.5px;
}

.ContentsHeadPTag {
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: center;
}

.ContentsContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContentsWefocusPTag {
    margin: 20px 0px 54px 0px;
    max-width: 555px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
}