@font-face {
    font-family: GraphikMedium;
    src: url(./../../Graphik/GraphikMedium.otf);
}

@font-face {
    font-family: GraphikRegular;
    src: url(./../../Graphik/GraphikRegular.otf);
}

.ContentsMDiv {
    margin-top: 221.5px;
}

.ContentsHeadPTag {
    font-family: GraphikRegular;
    text-transform: capitalize;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
    text-align: center;
}

.ContentsContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContentsWefocusPTag {
    font-family: GraphikRegular;
    line-height: 30px;
    margin: 20px 0px 54px 0px;
    max-width: 555px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.ContentsRowDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.ContentLefthtDiv,
.ContentRightDiv {
    background-color: white;
    width: 37%;
    color: black;
    text-align: center;
    box-shadow: 0px 4px 31px #00000026;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.CardsDivPTag {
    font-family: GraphikMedium;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}

.ContentCardsSubheading {
    font-family: GraphikRegular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 24px;
    text-align: center;
    color: #5c5c5c;
    max-width: 268px;
}

.TryForFree {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 190px;
    padding: 13.5px 46px;
}

.SignUp {
    margin-top: 67px;
    margin-bottom: 57px;
    width: 157px;
    padding: 8px 46px;
}

.SignUp,
.TryForFree {
    font-family: GraphikMedium;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #4452fe;
    color: #ffffff;
    border-style: none;
}