@font-face {
    font-family: GraphikMedium;
    src: url(./../../Graphik/GraphikMedium.otf);
}

@font-face {
    font-family: GraphikRegular;
    src: url(./../../Graphik/GraphikRegular.otf);
}

.CtamDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 287px;
}

.CtaContentDiv {
    width: 83%;
    border-radius: 33px;
    background-color: #343434;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ctaPTag {
    font-family: GraphikRegular;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
    margin-bottom: 37px;
    text-align: right;
}

.CtaLeftDiv {
    width: 45%;
    padding-left: 94px;
    margin: 61.5px 0px;
}

.CtaRightDiv {
    width: 43%;
    height: 100%;
    display: flex;
    align-items: end;
}

.ctaImgTag {
    width: 100%;
    min-height: 300px;
    border-radius: 0px 0px 33px 0px;
}