.FooterMDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 107px;
}

.FooterDiv {}

.UlDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.UlMDiv ul li {
    list-style-type: none;
}