@font-face {
    font-family: GraphikMedium;
    src: url(./../../Graphik/GraphikMedium.otf);
}

.FooterMDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 107px;
}

.FooterDiv {
    width: 80%;
}

.UlDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.UlMDiv ul li {
    list-style-type: none;
    font-family: GraphikMedium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.listTitle {
    margin-bottom: 40px;
    font-family: GraphikMedium;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
}