@font-face {
    font-family: GraphikRegular;
    src: url(./../../Graphik/GraphikRegular.otf);
}

.GalleryPTitle {
    font-family: GraphikRegular;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
}

.GalleryContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GalleryContentNDiv {
    width: 70%;
    text-align: center;
}

.GalleryWeFocus {
    font-family: GraphikRegular;
    font-weight: 400;
}