@font-face {
    font-family: GraphikMedium;
    src: url(./../../Graphik/GraphikMedium.otf);
}

.HeaderMDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderH1Div {
    width: 60%;
    max-width: 730px;
    text-align: center;
}

.HeaderH1Div h1 {
    font-family: GraphikMedium;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}

.HeaderPDiv {
    max-width: 500px;
    text-align: center;
    margin-bottom: 85px;
}

.BtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: blue; */
    width: 500px;
}

.TryForFree,
.LearnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /* background-color: red; */
    padding: 10px 30px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.2px;
}

.TryForFree {
    background-color: #4452fe;
}

.LearnMore {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
}

@media only screen and (max-width: 500px) {
    .BtnDiv {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TryForFree {
        margin-bottom: 21px;
    }
}