.HeaderNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavmContentDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color: red;
}

.ListDiv {
    text-align: center;
    background-color: green;
    width: 80%;
}

.ListDiv ul li {
    display: inline-block;
    list-style-type: none;
}