@font-face {
    font-family: GraphikMedium;
    src: url(./../../Graphik/GraphikMedium.otf);
}

@font-face {
    font-family: GraphikRegular;
    src: url(./../../Graphik/GraphikRegular.otf);
}

.PartnersmDiv {
    font-family: GraphikRegular;
    text-align: center;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
}