.TestimonialsRowCMDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.TestimonialsCDivP {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.TestimonialsContentDivRows {
    background-color: green;
}

#TestimonialsMargin {
    margin-bottom: 20px;
}

.TestimonialsPRowTag {
    width: 100%;
    background-color: blue;
}